<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workshop.androidwidgets">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.textview.TextViewActivity" />
        <activity android:name=".ui.edittext.EditTextActivity" />
        <activity android:name=".ui.imageview.ImageViewActivity" />
        <activity android:name=".ui.radiogroup.RadioGroupActivity" />
        <activity android:name=".ui.webview.WebViewActivity" />
        <activity android:name=".ui.videoview.VideoViewActivity" />
        <activity android:name=".ui.containers.recyclerview.RecyclerViewActivity" />
        <activity android:name=".ui.containers.recyclerview.DetailActivity" />
        <activity android:name=".ui.containers.viewpager.ViewPagerActivity" />
    </application>

</manifest>